<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./style.css">
    <style>
        .header {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div id="app">
    <div class="container">
      <div class="row">
        <div class="column">
          <h1 class="header"><b>WELCOME TO ARC'S</b></h1>
          <h2 class="header"><i>Quick food delivery!</i></h2>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <table class="table table-bordered">
            <thead>
              <th>Customer Name</th>
              <th>Customer Number</th>
              <th>Customer Email</th>
              <th>Remove</th>
            </thead>
            <tbody>
              <tr v-for="item in items">
                <td>{{item.name}}</td>
                <td>{{item.number}}</td>
                <td>{{item.email}}</td>
                <td><button @click="del(item._id)">Remove</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="column menuForm">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-size:30px; color: aliceblue;">Customer Details</h5>
              <h5 class="card-subtitle mb-2 text-muted" style="color: aliceblue;">Enter details</h6>

              <form action="/action_page.php">
                <div class="form-group">
                
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="customer.name"
                    placeholder="Enter Customer's Name"
                  />
                </div>
                <div class="form-group">
                  
                  <input
                    type="number"
                    class="form-control"
                    id="phone"
                    v-model="customer.number"
                    placeholder="Enter Customer's Number"
                  />
                </div>
                <div class="form-group">
                  
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="customer.email"
                    placeholder="Enter Customer's Email"
                  />
                </div>
              </form>
            </div>
            <br>
            <div class="card-footer">
                <button
                  type="button"
                  class="btn btn-success"
                  @click="add()"
                  value="Submit"
                  name="Submit"
                >
                  Submit
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.0/vue.min.js" integrity="sha512-2v91ndX8jAw9J2IAZ4RnH+lKMOi0PzyFJ1i6D69Nx1RlY2UJpy6r1WIo35HrRkHG4ARj1Xl/xyoh0X9ze+6Y2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
  
  <script>

var app = new Vue({
      el: "#app",
      data: {
        items: [],
        customer : {
          name : "",
          number :0,
          email:""
        }
      },
      created() {
        this.getList();
      },
      methods: {
        getList() {
          const self = this;
          this.$http
            .get("/restaurant/customer/list")
            .then(function (response) {
              self.items = response.body;
            });
        },
        del(tableId) {
          const self = this;
          this.$http
            .delete("/restaurant/customer/" + tableId)
            .then(function () {
              self.getList();
            });
        },
        add() {
          const self = this;
          this.$http
            .post("/restaurant/customer/add", {name:this.customer.name, number:this.customer.number, email:this.customer.email})
            .then(function () {
              self.getList();
            });
        },
      },
    });



  </script>
  
  <!-- <script>
    load();

    function load() {
      $("#myTable").html(`<thead>
            <th>Customer Name</th>
            <th>Customer Number</th>
            <th>Customer Email</th>
            <th>Remove Customer</th>
            </thead>`);

      $.ajax({
        url: "/restaurant/customer/list",
        method: "GET",
      }).done((items) => {
        for (var each in items) {
          var newCustomer = items[each];

          $("#myTable").append(`<tr>
                            <td>${newCustomer.name}</td>
                            <td>${newCustomer.phone}</td>
                            <td>${newCustomer.email}</td>
                            <td><button type="button" onclick="del('${newCustomer._id}')" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                        </tr>`);
        }
      });
    }

    function del(id) {
      $.ajax({ url: "/restaurant/customer/" + id, method: "DELETE" });
      load();
    }

    function add() {
      var addition = {
            name: $("#name").val(),
            phone: $("#phone").val(),
            email: $("#email").val()
        }

        $.ajax({
            url: "http://localhost:8080/restaurant/customer/add",
            method: "POST",
            contentType : "application/json",
            data: JSON.stringify(addition),
        }).done(function(res) {
            console.log(res);
            load();
        });
    }
  </script> -->
</html>
